body {
font-family: 'Montserrat', sans-serif;
font-weight: 400;
font-style: 18px;
line-height: 1.5;
background-color: #FFF;
color: #212121;
}

h1, h2, h3 {
    margin: 0;
    font-family: 'Cormorant', serif;
}

p {
    margin: 0;
}
a {
    text-decoration: none;
    color: #212121;
}

ul {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
}

img {
    display: block;
}

.container {
    max-width: calc(1920px - 360px * 2); 
    margin-left: auto;
    margin-right: auto;
}

/* Header */

.header-page {
    display: flex;
    width: 100%;
}

.logo {
    padding-right: 68px;
}

.header-expanded {
    max-width: calc(1920px - 341px - 126px);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-navig{
    display: flex;
}

.head-navig-list {
    display: flex;
    gap: 54px;
    padding-top: 82px;
    padding-bottom: 82px;
    margin-right: 117px;
    flex-wrap: nowrap;
}

.head-navig {
    color: #212121;
    font-size: 18px;
    font-weight: 500;
    display: block;
}

.head-navig:hover,
.head-navig:focus {
    font-weight: 700;
}

.head-icons {
    display: flex;
    gap: 32px;
}

.head-contact {
    display: flex;
    align-items: center;
}

.head-address {
    color: #212121;
    text-align: right;
    font-size: 18px;
    font-weight: 500;
    font-style: normal;
    display: block;
}

.head-address:hover,
.head-address:focus {
    font-weight: 700;
}

/* Section Hero */

.hero .container {
    width: 1920px;
}

.hero-page {
    display: flex;
    gap: 40px;
    justify-content: space-between;
}

.hero-title {
    font-size: 84px;
    font-weight: 600;
    line-height: 1.2;
    margin-bottom: 71px;
}

.hero-text {
    font-size: 26px;
    line-height: 1.5;
    width: 692px;
    margin-bottom: 73px;
}

.btn_catalog {
    background-color: #212121;
    color: #FFF;
    text-align: center;
    font-size: 23px;
    font-weight: 600;
    display: flex;
    width: 315px;
    height: 87px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
}

.btn_category {
    background-color: #212121;
    color: #FFF;
    text-align: center;
    font-size: 21px;
    font-weight: 500;
    line-height: 1.5;
    display: flex;
    width: 305px;
    height: 76 px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
}

/* Section Loyalty system */

.loyalty-system {
    display: flex;
    padding-top: 72px;
}

.loyalty-system-list {
    display: flex;
    gap: 107px;
    
}

h2 {
    font-size: 45px;
    font-weight: 700;
    text-transform: uppercase;
}
.loyalty-system-title {
    padding-top: 123px;
}

.loyalty-system-text {
    padding-bottom: 84px;
}

.btn_information {
    color: #212121;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    display: flex;
    width: 287px;
    height: 76px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    border: 2px solid #212121;
}

.offers {
    padding-top: 150px;
}
.offers-list {
    display: flex;
    flex-direction: column;
}

.offers-title {
    padding-bottom: 45px;
}

.offers-text {
    width: 566px;
    margin-bottom: 85px;
}

.slider { 
    background: rgba(255, 255, 255, 0.60);
    backdrop-filter: blur(42px);
    width: 635px;
    height: 340px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h3 {
    text-align: center;
    font-size: 35px;
    font-weight: 700;
    background-color: #fff;
    display: flex;
    width: 241px;
    height: 84px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
}

h4 {
    text-align: center;
    font-size: 24px;
    font-weight: 500;
    width: 495px;
    height: 52px;
    flex-shrink: 0;
}

.text-small{
text-align: right;
font-size: 16px;
font-weight: 500;
}

.bg-light {
    background-color: #F2F0EE;
    width: 100%;
    height: 490px;
    flex-shrink: 0;
}

h5 {
    font-weight: 600;
    text-transform: uppercase;
}

/* footer */

footer {
    background-color: #F2F0EE;
}

.footer-info-menu {
    display: flex;
    justify-content: space-between;
}